body {
    background-color: #8ECAE6;
    margin: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    
}
.grid-item {
    text-align: center;
    border: 3px solid black;
    padding: 17px;
    margin: 2px;
    font-size: 45px;
    font-family: 'Belanosima', sans-serif;
    border-radius: 15px;
    background-color: #FFB703;
    color: #023047;
}
.grid-item:hover {
    background-color: #d9d9d9;
}
